*
{
margin:0;
padding:0;
}
header
{
background image:url("Chrysanthemum.jpg");
height:100vh;
background-size: cover;
backgroung-position:centre;
}
main-nav
{
float:right;
list-style:none;
}